<%- include('partials/header.ejs', { user }) %>
<article>
    <div class="flex flex-col max-h-screen gap-10 py-40 bg-gray-300">
        <h1 class=" flex-1 text-center font-bold text-4xl">Schedule your meetings hassle free</h1>
        <a class="mx-auto border-4 p-4 rounded-xl bg-yellow-400 border-black font-bold" href="/dashboard">Try for Yourself!</a>
    </div>
</article>
<%- include('partials/footer.ejs') %> 