<%- include('partials/header'), { user } %> 
<article class="p-2 flex justify-center ">
    <div class="max-w-md w-[30%]  text-center bg-yellow-300 p-3 ">
        <h3 >Alert</h3>
    </div>
    <div class="bg-gray-300 w-full p-3 text-center align-middle">
        Event Created Successfully !
    </div>

</article>
<%- include('partials/footer') %> 