<div class="flex flex-col gap-1">
    <label for="timezone">Select your Timezone</label>
    <select class="p-3 border-2 border-gray-300" name="timezone" id="timezone">
    <option id="Asia/Kolkata" selected >Asia/Kolkata</option>
    <option id="Asia/Kabul">Asia/Kabul</option>
    <option id="Europe/Tirane">Europe/Tirane</option>
    <option id="Africa/Algiers">Africa/Algiers</option>
    <option id="Pacific/Pago_Pago">Pacific/Pago_Pago</option>
    <option id="Europe/Andorra">Europe/Andorra</option>
    <option id="Africa/Luanda">Africa/Luanda</option>
    <option id="America/Anguilla">America/Anguilla</option>
    <option id="Antarctica/Casey">Antarctica/Casey</option>
    <option id="Antarctica/Davis">Antarctica/Davis</option>
    <option id="Antarctica/DumontDUrville">Antarctica/DumontDUrville</option>
    <option id="Antarctica/Mawson">Antarctica/Mawson</option>
    <option id="Antarctica/McMurdo">Antarctica/McMurdo</option>
    <option id="Antarctica/Palmer">Antarctica/Palmer</option>
    <option id="Antarctica/Rothera">Antarctica/Rothera</option>
    <option id="Antarctica/Syowa">Antarctica/Syowa</option>
    <option id="Antarctica/Troll">Antarctica/Troll</option>
    <option id="Antarctica/Vostok">Antarctica/Vostok</option>
    <option id="America/Antigua">America/Antigua</option>
    <option id="America/Argentina/Buenos_Aires">America/Argentina/Buenos_Aires</option>
    <option id="America/Argentina/Catamarca">America/Argentina/Catamarca</option>
    <option id="America/Argentina/Cordoba">America/Argentina/Cordoba</option>
    <option id="America/Argentina/Jujuy">America/Argentina/Jujuy</option>
    <option id="America/Argentina/La_Rioja">America/Argentina/La_Rioja</option>
    <option id="America/Argentina/Mendoza">America/Argentina/Mendoza</option>
    <option id="America/Argentina/Rio_Gallegos">America/Argentina/Rio_Gallegos</option>
    <option id="America/Argentina/Salta">America/Argentina/Salta</option>
    <option id="America/Argentina/San_Juan">America/Argentina/San_Juan</option>
    <option id="America/Argentina/San_Luis">America/Argentina/San_Luis</option>
    <option id="America/Argentina/Tucuman">America/Argentina/Tucuman</option>
    <option id="America/Argentina/Ushuaia">America/Argentina/Ushuaia</option>
    <option id="Asia/Yerevan">Asia/Yerevan</option>
    <option id="America/Aruba">America/Aruba</option>
    <option id="Antarctica/Macquarie">Antarctica/Macquarie</option>
    <option id="Australia/Adelaide">Australia/Adelaide</option>
    <option id="Australia/Brisbane">Australia/Brisbane</option>
    <option id="Australia/Broken_Hill">Australia/Broken_Hill</option>
    <option id="Australia/Darwin">Australia/Darwin</option>
    <option id="Australia/Eucla">Australia/Eucla</option>
    <option id="Australia/Hobart">Australia/Hobart</option>
    <option id="Australia/Lindeman">Australia/Lindeman</option>
    <option id="Australia/Lord_Howe">Australia/Lord_Howe</option>
    <option id="Australia/Melbourne">Australia/Melbourne</option>
    <option id="Australia/Perth">Australia/Perth</option>
    <option id="Australia/Sydney">Australia/Sydney</option>
    <option id="Europe/Vienna">Europe/Vienna</option>
    <option id="Asia/Baku">Asia/Baku</option>
    <option id="America/Nassau">America/Nassau</option>
    <option id="Asia/Bahrain">Asia/Bahrain</option>
    <option id="Asia/Dhaka">Asia/Dhaka</option>
    <option id="America/Barbados">America/Barbados</option>
    <option id="Europe/Minsk">Europe/Minsk</option>
    <option id="Europe/Brussels">Europe/Brussels</option>
    <option id="America/Belize">America/Belize</option>
    <option id="Africa/Porto-Novo">Africa/Porto-Novo</option>
    <option id="Atlantic/Bermuda">Atlantic/Bermuda</option>
    <option id="Asia/Thimphu">Asia/Thimphu</option>
    <option id="America/La_Paz">America/La_Paz</option>
    <option id="America/Kralendijk">America/Kralendijk</option>
    <option id="Europe/Sarajevo">Europe/Sarajevo</option>
    <option id="Africa/Gaborone">Africa/Gaborone</option>
    <option id="America/Araguaina">America/Araguaina</option>
    <option id="America/Bahia">America/Bahia</option>
    <option id="America/Belem">America/Belem</option>
    <option id="America/Boa_Vista">America/Boa_Vista</option>
    <option id="America/Campo_Grande">America/Campo_Grande</option>
    <option id="America/Cuiaba">America/Cuiaba</option>
    <option id="America/Eirunepe">America/Eirunepe</option>
    <option id="America/Fortaleza">America/Fortaleza</option>
    <option id="America/Maceio">America/Maceio</option>
    <option id="America/Manaus">America/Manaus</option>
    <option id="America/Noronha">America/Noronha</option>
    <option id="America/Porto_Velho">America/Porto_Velho</option>
    <option id="America/Recife">America/Recife</option>
    <option id="America/Rio_Branco">America/Rio_Branco</option>
    <option id="America/Santarem">America/Santarem</option>
    <option id="America/Sao_Paulo">America/Sao_Paulo</option>
    <option id="Indian/Chagos">Indian/Chagos</option>
    <option id="Asia/Brunei">Asia/Brunei</option>
    <option id="Europe/Sofia">Europe/Sofia</option>
    <option id="Africa/Ouagadougou">Africa/Ouagadougou</option>
    <option id="Africa/Bujumbura">Africa/Bujumbura</option>
    <option id="Asia/Phnom_Penh">Asia/Phnom_Penh</option>
    <option id="Africa/Douala">Africa/Douala</option>
    <option id="America/Atikokan">America/Atikokan</option>
    <option id="America/Blanc-Sablon">America/Blanc-Sablon</option>
    <option id="America/Cambridge_Bay">America/Cambridge_Bay</option>
    <option id="America/Creston">America/Creston</option>
    <option id="America/Dawson">America/Dawson</option>
    <option id="America/Dawson_Creek">America/Dawson_Creek</option>
    <option id="America/Edmonton">America/Edmonton</option>
    <option id="America/Fort_Nelson">America/Fort_Nelson</option>
    <option id="America/Glace_Bay">America/Glace_Bay</option>
    <option id="America/Goose_Bay">America/Goose_Bay</option>
    <option id="America/Halifax">America/Halifax</option>
    <option id="America/Inuvik">America/Inuvik</option>
    <option id="America/Iqaluit">America/Iqaluit</option>
    <option id="America/Moncton">America/Moncton</option>
    <option id="America/Nipigon">America/Nipigon</option>
    <option id="America/Pangnirtung">America/Pangnirtung</option>
    <option id="America/Rainy_River">America/Rainy_River</option>
    <option id="America/Rankin_Inlet">America/Rankin_Inlet</option>
    <option id="America/Regina">America/Regina</option>
    <option id="America/Resolute">America/Resolute</option>
    <option id="America/St_Johns">America/St_Johns</option>
    <option id="America/Swift_Current">America/Swift_Current</option>
    <option id="America/Thunder_Bay">America/Thunder_Bay</option>
    <option id="America/Toronto">America/Toronto</option>
    <option id="America/Vancouver">America/Vancouver</option>
    <option id="America/Whitehorse">America/Whitehorse</option>
    <option id="America/Winnipeg">America/Winnipeg</option>
    <option id="America/Yellowknife">America/Yellowknife</option>
    <option id="Atlantic/Cape_Verde">Atlantic/Cape_Verde</option>
    <option id="America/Cayman">America/Cayman</option>
    <option id="Africa/Bangui">Africa/Bangui</option>
    <option id="Africa/Ndjamena">Africa/Ndjamena</option>
    <option id="America/Punta_Arenas">America/Punta_Arenas</option>
    <option id="America/Santiago">America/Santiago</option>
    <option id="Pacific/Easter">Pacific/Easter</option>
    <option id="Asia/Shanghai">Asia/Shanghai</option>
    <option id="Asia/Urumqi">Asia/Urumqi</option>
    <option id="Indian/Christmas">Indian/Christmas</option>
    <option id="Indian/Cocos">Indian/Cocos</option>
    <option id="America/Bogota">America/Bogota</option>
    <option id="Indian/Comoro">Indian/Comoro</option>
    <option id="Africa/Brazzaville">Africa/Brazzaville</option>
    <option id="Africa/Kinshasa">Africa/Kinshasa</option>
    <option id="Africa/Lubumbashi">Africa/Lubumbashi</option>
    <option id="Pacific/Rarotonga">Pacific/Rarotonga</option>
    <option id="America/Costa_Rica">America/Costa_Rica</option>
    <option id="Europe/Zagreb">Europe/Zagreb</option>
    <option id="America/Havana">America/Havana</option>
    <option id="America/Curacao">America/Curacao</option>
    <option id="Asia/Famagusta">Asia/Famagusta</option>
    <option id="Asia/Nicosia">Asia/Nicosia</option>
    <option id="Europe/Prague">Europe/Prague</option>
    <option id="Africa/Abidjan">Africa/Abidjan</option>
    <option id="Europe/Copenhagen">Europe/Copenhagen</option>
    <option id="Africa/Djibouti">Africa/Djibouti</option>
    <option id="America/Dominica">America/Dominica</option>
    <option id="America/Santo_Domingo">America/Santo_Domingo</option>
    <option id="America/Guayaquil">America/Guayaquil</option>
    <option id="Pacific/Galapagos">Pacific/Galapagos</option>
    <option id="Africa/Cairo">Africa/Cairo</option>
    <option id="America/El_Salvador">America/El_Salvador</option>
    <option id="Africa/Malabo">Africa/Malabo</option>
    <option id="Africa/Asmara">Africa/Asmara</option>
    <option id="Europe/Tallinn">Europe/Tallinn</option>
    <option id="Africa/Addis_Ababa">Africa/Addis_Ababa</option>
    <option id="Atlantic/Stanley">Atlantic/Stanley</option>
    <option id="Atlantic/Faroe">Atlantic/Faroe</option>
    <option id="Pacific/Fiji">Pacific/Fiji</option>
    <option id="Europe/Helsinki">Europe/Helsinki</option>
    <option id="Europe/Paris">Europe/Paris</option>
    <option id="America/Cayenne">America/Cayenne</option>
    <option id="Pacific/Gambier">Pacific/Gambier</option>
    <option id="Pacific/Marquesas">Pacific/Marquesas</option>
    <option id="Pacific/Tahiti">Pacific/Tahiti</option>
    <option id="Indian/Kerguelen">Indian/Kerguelen</option>
    <option id="Africa/Libreville">Africa/Libreville</option>
    <option id="Africa/Banjul">Africa/Banjul</option>
    <option id="Asia/Tbilisi">Asia/Tbilisi</option>
    <option id="Europe/Berlin">Europe/Berlin</option>
    <option id="Europe/Busingen">Europe/Busingen</option>
    <option id="Africa/Accra">Africa/Accra</option>
    <option id="Europe/Gibraltar">Europe/Gibraltar</option>
    <option id="Europe/Athens">Europe/Athens</option>
    <option id="America/Danmarkshavn">America/Danmarkshavn</option>
    <option id="America/Nuuk">America/Nuuk</option>
    <option id="America/Scoresbysund">America/Scoresbysund</option>
    <option id="America/Thule">America/Thule</option>
    <option id="America/Grenada">America/Grenada</option>
    <option id="America/Guadeloupe">America/Guadeloupe</option>
    <option id="Pacific/Guam">Pacific/Guam</option>
    <option id="America/Guatemala">America/Guatemala</option>
    <option id="Europe/Guernsey">Europe/Guernsey</option>
    <option id="Africa/Conakry">Africa/Conakry</option>
    <option id="Africa/Bissau">Africa/Bissau</option>
    <option id="America/Guyana">America/Guyana</option>
</select>
</div>